<%= simple_form_for(@lot) do |f| %>
  <%= f.error_notification %>
  <%= action_name %>
  <div class="form-inputs">
    <%= f.input :title, required: true %>
    <%= f.input :description, required: true, label: "Description and conditions", input_html: {rows: 8 } %>
    <%= f.input :end_date, as: :string, required: true, :input_html => { :id => 'datetimepicker' } %>

    <%= f.input :prepay %>
    <%= f.input :fee %>
    <%= f.input :min_order %>
    <%= f.input :pickup_allowed %>
    <%= f.input :pickup_description %>
    <%= f.input :postage_val1 %>
    <%= f.input :postage_info1 %>
    <%= f.input :postage_val2 %>
    <%= f.input :postage_info2 %>
    <%= f.input :postage_val3 %>
    <%= f.input :postage_info3 %>
    <%= f.input :source %>
    <%= f.input :serial %>
    <%= f.input :keywords %>
    <%#= f.input :status %>
    <%= f.input :terms_of_service, as: :boolean %>

    <%#= f.association :category, collection: Category.where(parent_id:nil)%>
    <% for i in 0..CategoriesController::LVL_MASK.length %>
      <%= f.input "sub_category_lvl#{i}", :as => :select, :label => false do %>
        <% f.select "sub_category_lvl#{i}", @lot.send("sub_category_lvl#{i}"), {}, {:size => 5}%>
      <% end %>
    <% end %>

    <%#= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

