<%= simple_form_for @lot,  wrapper: :label_hor do |f| %>
  <%= f.error_notification %>
  <%= action_name %>
  <div class="form-inputs">
    <%= f.input :title, required: true, placeholder: "Maximum lot title size is 50 characters", label: "Lot title", input_html: {:maxlength => 50} %>
    <%= f.input :description, required: true, placeholder: "Please give a short description for a whole lot", input_html: {rows: 8 } %>
    <%= f.input :end_date, as: :string, required: true, :input_html => { :id => 'datetimepicker' } %>

    <%= f.input :prepay, placeholder: "Prepay required in %" %>
    <%= f.input :fee, placeholder: "Organiser fee in %" %>
    <%= f.input :min_order %>
    <%= f.input :pickup_allowed %>
    <%= f.input :pickup_description %>
    <%= f.input :postage_val1 %>
    <%= f.input :postage_info1 %>
    <%= f.input :postage_val2 %>
    <%= f.input :postage_info2 %>
    <%= f.input :postage_val3 %>
    <%= f.input :postage_info3 %>
    <%= f.input :source %>
    <%= f.input :serial %>
    <%= f.input :keywords %>
    <%#= f.input :status %>
    <%= f.input :terms_of_service, as: :boolean %>

    <%= content_tag :div, class: "row" do %>
      <%= content_tag :div, class: "small-3 columns" do %>
        <label> Category </label>
      <% end %>

      <%= content_tag :div, class: "small-9 columns" do %>
        <%= content_tag :div, class: "row" do %>
          <% for i in 0..CategoriesController::LVL_MASK.length %>
            <%= content_tag :div, class: "small-4 columns" do %>

              <%= f.input "sub_category_lvl#{i}", as: :select, label: false do %>
                <% f.select "sub_category_lvl#{i}", @lot.send("sub_category_lvl#{i}"), {}, {size: 5}%>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

    <% end %>

    <%#= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

