<%= simple_form_for @lot,  wrapper: :label_hor do |f| %>
  <%= f.error_notification %>
  <%= action_name %>
  <div class="form-inputs">
    <%= f.input :title, help: true, required: true, label: "Title", placeholder: "Maximum lot title size is 50 characters",  input_html: {:maxlength => 50} %>
    <%= f.input :description, required: true, placeholder: "Short description for a whole lot", input_html: {rows: 8 } %>
    <%= f.input :end_date, help: true, required: true, placeholder: "Last date to book orders, maximum 90 days", :input_html => { :id => 'datetimepicker' }, as: :string %>
    <%= f.input :prepay, placeholder: "Prepay required in %" %>
    <%= f.input :fee, placeholder: "Organiser fee in %" %>
    <%= f.input :min_order, label: "Required sum", placeholder: "Sum required to activate the lot in NZD" %>

    <%= f.input :condition, required: true, label: "Lot conditions",placeholder: "Lot conditions (payment, refund, delivery, etc)", input_html: {rows: 4 } %>
    <%= f.input :source, label: "Supplier", placeholder: "Link to a supplier's web site" %>

    <%= f.input :pickup_allowed, :input_html => { id: 'show_pickup' } %>
    <%= f.input :pickup_description, label: false, placeholder: "Pickup instructions. They will be invisible unlless purchase is complete", :input_html => { id: 'pickup', style: "display: none"} %>

    <% for i in 1..3 %>
    <%= content_tag :div, class: "row" do %>

      <%= content_tag :div, class: "small-2 columns" do %>
        <%= f.label (i == 1) ? :shipping : " " %>
      <% end %>
      <%= content_tag :div, class: "small-2 columns" do %>
        <%= f.input "postage_val#{i}", placeholder: "Cost in NZD", wrapper: :no_divs_labels %>
      <% end %>
      <%= content_tag :div, class: "small-8	columns" do %>
        <%= f.input "postage_info#{i}", placeholder: "Details", wrapper: :no_divs_labels %>
      <% end %>

    <% end %>
    <% end %>

    <%= f.input :keywords %>
    <%#= f.input :status %>
    <%= f.input :terms_of_service, required: true, as: :boolean %>

    <%= content_tag :div, class: "row" do %>
      <%= content_tag :div, class: "small-2 columns" do %>
        <%= f.label :sub_category_lvl0, "Default category" %>
      <% end %>

      <% for i in 0..CategoriesController::LVL_MASK.length %>
      <%= content_tag :div, class: "small-3 columns" do %>
        <%= f.input "sub_category_lvl#{i}", as: :select, wrapper: :no_divs_labels do %>
          <% f.select "sub_category_lvl#{i}", @lot.send("sub_category_lvl#{i}"), {}, {size: 5}%>
        <% end %>
      <% end %>
      <% end %>

    <% end %>

    <%#= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>


<%= link_to(help_show_path(:id =>"my_topic"), :remote => true ) do %>
   <%= fa_icon "question-circle lg" %>
<% end %>





<% end %>

