<%= simple_form_for @lot,  wrapper: :label_hor do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :title, help: true, required: true, placeholder: "Maximum lot title size is 50 characters",  input_html: {:maxlength => 50} %>
    <%= f.input :description, required: true, placeholder: "Short description for a whole lot", input_html: {rows: 8 } %>
    <%= f.input :condition, required: true, label: "Lot conditions",placeholder: "Lot conditions (payments, refunds, etc)", input_html: {rows: 4 } %>
    <%= f.input :duration, label: "Lot duration",help: true, required: true, prefix: "days", wrapper: :label_prefix_input %>
    <%= f.input :delivery_time, label: "Delivery time", help: true, required: true, placeholder: "Range (e.g. 7-15)",prefix: "days", wrapper: :label_prefix_input %>
    <%= f.input :min_order, label: "Activation sum", prefix: "$", wrapper: :label_prefix_input %>
    <%= f.input :prepay, prefix: "%", wrapper: :label_prefix_input %>

    <%= f.input :source, label: "Supplier", placeholder: "Link to a supplier's web site" %>
    <%= f.input :fee, label: "Organiser fee", prefix: "%", wrapper: :label_prefix_input %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>

