<h1>Listing lots</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>End date</th>
      <th>Prepay</th>
      <th>Fee</th>
      <th>Min order</th>
      <th>Pickup allowed</th>
      <th>Pickup description</th>
      <th>Postage val1</th>
      <th>Postage info1</th>
      <th>Postage val2</th>
      <th>Postage info2</th>
      <th>Postage val3</th>
      <th>Postage info3</th>
      <th>Source</th>
      <th>Serial</th>
      <th>Keywords</th>
      <th>Status</th>
      <th>Category</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lots.each do |lot| %>
      <tr>
        <td><%= lot.title %></td>
        <td><%= lot.description %></td>
        <td><%= lot.end_date %></td>
        <td><%= lot.prepay %></td>
        <td><%= lot.fee %></td>
        <td><%= lot.min_order %></td>
        <td><%= lot.pickup_allowed %></td>
        <td><%= lot.pickup_description %></td>
        <td><%= lot.postage_val1 %></td>
        <td><%= lot.postage_info1 %></td>
        <td><%= lot.postage_val2 %></td>
        <td><%= lot.postage_info2 %></td>
        <td><%= lot.postage_val3 %></td>
        <td><%= lot.postage_info3 %></td>
        <td><%= lot.source %></td>
        <td><%= lot.serial %></td>
        <td><%= lot.keywords %></td>
        <td><%= lot.status %></td>
        <td><%= lot.category %></td>
        <td><%= lot.user %></td>
        <td><%= link_to 'Show', lot %></td>
        <td><%= link_to 'Edit', edit_lot_path(lot) %></td>
        <td><%= link_to 'Destroy', lot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lot', new_lot_path %>
