<h1>Listing lots</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Prepay</th>
      <th>Fee</th>
      <th>Min order</th>
      <th>Source</th>
      <th>Serial</th>
      <th>Status</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lots.each do |lot| %>
      <tr>
        <td><%= lot.title %></td>
        <td><%= lot.description %></td>
        <td><%= lot.prepay %></td>
        <td><%= lot.fee %></td>
        <td><%= lot.min_order %></td>
        <td><%= lot.source %></td>
        <td><%= lot.serial %></td>
        <td><%= lot.status %></td>
        <td><%= lot.user %></td>
        <td><%= link_to 'Show', lot %></td>
        <td><%= link_to 'Edit', edit_lot_path(lot) %></td>
        <td><%= link_to 'Destroy', lot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lot', new_lot_path %>
