<% @lots.each do |lot| %>
  <% products = Product.where(lot_id: lot.id).where.not(status: nil).limit(100)%>
  <div style="border: solid #ffffff; border-radius: 25px">

      <div class="row" >
        <div class="medium-3  columns">
          <h3> <%= lot.title %> </h3>
          <br>
          Status : <%= lot.status.to_s.humanize %>
          <br>
          Products : <%= products.count %>
          <br>
          <%= link_to({controller: 'lots', action: "edit", id: lot.id}, {class: "button round secondary"}) do %>
              <%=fa_icon("edit lg")%> Edit lot
          <% end %>
          <%= link_to({controller: 'lots', action: "populate", id: lot.id}, {class: "button round secondary"}) do %>
              <%=fa_icon("gift lg")%> Edit products
          <% end %>
          <%=link_to(lot, method: :delete, data: { confirm: 'All products within the lot will be deleted! Are you sure?' }, class: "button round secondary") do %>
              <i class="fa fa-trash-o fa-lg"></i>
              <span> Delete lot</span>
          <% end %>


        </div>
        <div class="medium-9  columns">
          <div class="owl-carousel">
            <% products.each do |product| %>
                <div class="item">
                  <%=link_to({controller: 'products', action: "edit", id: product.id}) do %>
                  <ul class="pricing-table">
                    <li class="title" style="height: 62px;"><%= product.title %></li>
                    <li class="price"><%= number_to_currency(product.price, :unit => '$')%></li>
                    <li class="bullet-item">
                      <div style="height: 200px">
                        <%= image_tag "", "data-src" => product.product_images.first.photo.url(:medium), :class => 'lazyOwl' %>
                      </div>
                    </li>
                 </ul>
                 <% end %>
              </div>
            <% end %>

        </div>

      </div>
    </div>
  </div>
<% end %>