<!--TODO 1. Add lot information, lot edit and lot start -->
<div class="row">
  <h1> <%= @lot.title %></h1>
</div>
<div class="row">
  <div class="small-8 columns">
    <p> Description: <br>
      <%= @lot.description %>
    </p>
    <p> Conditions: <br>
      <%= @lot.condition %>
    </p>
  </div>
  <div class="small-4 columns">
    <table>
      <tr>
        <td><%=fa_icon("clock-o lg")%> Duration: </td>
        <td> <%= @lot.duration %> days</td>
      </tr>
      <tr>
        <td><%=fa_icon("truck lg") %> Maximum delivery time  </td>
        <td><%= @lot.delivery_time %> days</td>
      </tr>
      <tr>
        <td>$ Activation sum  </td>
        <td> <%= number_to_currency(@lot.min_order, :unit => '$') %> </td>
      </tr>
      <tr>
        <td>% Prepay </td>
        <td><%= @lot.prepay %> %</td>
      </tr>
    </table>
    <% if @lot_products.count > 0%>
        <%= link_to({controller: 'lots', action: "update", id: @lot.id, status: "1"}, {class: "button round success"}) do %>
            <%=fa_icon("rocket lg")%> Start lot!
        <% end %>
    <% end%>

  </div>

</div>
<%= render 'populate_form' %>
