<!--TODO Control lot start better  -->
<!--TODO Move to CSS -->

<% if params[:notice] %>
<div data-alert class="alert-box success radius" style="position: absolute;  background-color: rgba(0,0,0,0.65);
        height: 45px;
        width: 415px;
        color: #FFF;
        top: 2px;
        right: 0px;
        z-index: 1;">
<%= params[:notice] %>
<a href="#" class="close">&times;</a>
</div>
<% end %>

<div class="row">
  <h1> <%= @lot.title %></h1>
</div>
<div class="row">
  <div class="small-8 columns">
    <p> Description: <br>
      <%= @lot.description %>
    </p>
    <p> Conditions: <br>
      <%= @lot.condition %>
    </p>
  </div>
  <div class="small-4 columns">
    <table>
      <tr>
        <td><%=fa_icon("clock-o lg")%> Duration: </td>
        <td> <%= @lot.duration %> days</td>
      </tr>
      <tr>
        <td><%=fa_icon("truck lg") %> Delivery time  </td>
        <td><%= @lot.delivery_time %> days</td>
      </tr>
      <tr>
        <td>$ Activation sum  </td>
        <td> <%= number_to_currency(@lot.min_order, :unit => '$') %> </td>
      </tr>
      <tr>
        <td>% Prepay </td>
        <td><%= @lot.prepay %> %</td>
      </tr>
      <tr>
        <td><%=fa_icon("gift lg") %> Product count </td>
        <td><%= @lot_products.count %> </td>
      </tr>
    </table>

    <%= link_to({controller: 'lots', action: "edit", id: @lot.id}, {class: "button round secondary"}) do %>
        <%=fa_icon("edit lg")%> Edit lot
    <% end %>

    <% if @lot_products.count > 0%>
        <%= link_to({controller: 'lots', action: "start_lot", id: @lot.id, status: "1"}, {class: "button round success"}) do %>
            <%=fa_icon("rocket lg")%> Start lot!
        <% end %>
    <% end%>

  </div>

</div>
<%= render 'populate_form' %>
