
<ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-6">
  <% @lot_products.each do |prod| %>


      <li style="position: relative; width: 320px; height: 500px;" >
        <ul class="pricing-table">
        <li class="title"><%= prod.title %></li>
        <li class="price"><%= number_to_currency(prod.price, :unit => "$")%></li>
        <li class="bullet-item">
          <div style="height: 200px">
            <%= image_tag prod.product_images.first.photo.url(:medium) %>
          </div>
        </li>

        <li class="cta-button">
          <ul class="button-group radius">
            <li>
              <%=link_to({controller: 'products', action: "edit", id: prod.id}, {class: "button secondary  tiny"}) do %>
                  <i class="fa fa-edit fa-lg"></i>
                  <span> Edit</span>
              <% end %>
            </li>
            <li>
              <%= link_to({controller: 'products', action: "new", copy_product_id: prod.id}, {class: "button tiny success"}) do %>
                  <i class="fa fa-files-o fa-lg"></i> <span> Clone</span>
              <% end %>
            </li>
            <li>
              <%=link_to(prod, method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny alert") do %>
                <i class="fa fa-trash-o fa-lg"></i>
                <span> Delete</span>
              <% end %>
            </li>
          </ul>
        </li>
        </ul>
      </li>
  <% end %>
  <li style="position: relative; width: 250px; height: 280px;" >
    <%= link_to image_tag("new_product.jpeg", :border => 0), {:action => 'new', :controller => 'products', :lot_id => @lot.id} %>
  </li>

</ul>
