<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lot.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lot.description %>
</p>

<p>
  <strong>Prepay:</strong>
  <%= @lot.prepay %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @lot.fee %>
</p>

<p>
  <strong>Min order:</strong>
  <%= @lot.min_order %>
</p>


<p>
  <strong>Source:</strong>
  <%= @lot.source %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @lot.serial %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lot.status %>
</p>

<p>
  <strong>Category:</strong>
  <%= @lot.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @lot.user %>
</p>

<%= link_to 'Edit', edit_lot_path(@lot) %> |
<%= link_to 'Back', lots_path %>
