<!--TODO 1. Add cancell button, remove show, back button -->
<!--TODO 2. Fix pickup description -->


<%= simple_form_for @product, wrapper: :label_hor do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, required: true, placeholder: "Maximum title size is 50 characters",  input_html: {:maxlength => 50} %>
    <%= f.input :description, placeholder: "Short description for a whole lot", input_html: {rows: 4 } %>
    <%= f.input :price, as: :string, required: true, prefix: "$", wrapper: :label_prefix_input  %>
    <%= content_tag :div, class: "row" do %>
        <%= content_tag :div, class: "small-2 columns" do %>
            <% category_label_class = @product.errors[:category_id].empty? ? "" : "error" %>
            <%= f.label :sub_category_lvl0, "Default category", class: category_label_class  %>
        <% end %>

        <% for i in 0..CategoriesController::LVL_MASK.length %>
            <%= content_tag :div, class: "small-3 columns" do %>
                <%= f.input "sub_category_lvl#{i}", as: :select, wrapper: :no_divs_labels do %>
                    <% f.select "sub_category_lvl#{i}", @product.send("sub_category_lvl#{i}"), {}, {size: 5}%>
                <% end %>
            <% end %>
        <% end %>

    <% end %>

    <fieldset>
      <legend>Delivery and pickup</legend>
      <%= f.input :pickup_allowed, :input_html => { id: 'show_pickup' } %>
      <%= f.input :pickup_description, label: false, placeholder: "Pickup locations", :input_html => { id: 'pickup', style: "display: none"} %>

      <% for i in 1..3 %>
        <%= content_tag :div, class: "row" do %>

            <%= content_tag :div, class: "small-2 columns" do %>
                <%= f.label (i == 1) ? :shipping : " " %>
            <% end %>
            <%= content_tag :div, class: "small-2 columns" do %>
                <%= f.input "postage_val#{i}", prefix: "$", as: :string, wrapper: :prefix_input %>
            <% end %>
            <%= content_tag :div, class: "small-8	columns" do %>
                <%= f.input "postage_info#{i}", placeholder: "Details", wrapper: :no_divs_labels %>
            <% end %>

        <% end %>
      <% end %>
    </fieldset>
    <%= f.input :id, :as => :hidden %>
    <%= f.input :top_image, :as => :hidden %>
  </div>

<% end %>

<fieldset>
  <legend>Images</legend>
 <% if @product.errors.messages[:image] %>
      <%= content_tag :span, class: "error" do %>
          <%= @product.errors.messages[:image][0] %>
      <% end %>
 <% end %>
 <%= content_tag :div, class: "row" do %>
    <%= content_tag :div, class: "small-2 columns" do %>
        <%= button_tag( id: "url_button", type: "button") do%>
            <%= fa_icon("globe lg") %> <span>Upload web images</span>
        <% end %>
    <% end %>
    <%= content_tag :div, class: "small-10	columns" do %>
        <%= text_field_tag("upload_url", nil, placeholder: "Copy image URL here") %>
    <% end %>
<% end %>

<%= simple_form_for ProductImage.new, html: { id: :fileupload} do |f| %>

  <%= content_tag :div, class: "row" do %>
    <div class="fileUpload button">
      <%= fa_icon("camera lg") %><span> Upload local images </span>
      <%= f.file_field :photo, multiple: true, class: "fileField" %>
    </div>
  <% end %>
  <%= content_tag :div, class: "row" do %>
  <!-- The loading indicator is shown during image processing -->
  <div class="fileupload-loading"></div>
  <br>
  <!-- The table listing the files available for upload/download -->
  <ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-6 files"  data-toggle="modal-gallery" data-target="#modal-gallery"> </ul>
  <% end %>
<% end %>
</fieldset>

<%= content_tag :div, class: "row" do %>
<input type="submit" class="button" id="submit_product" value="Finish" />
<% end %>


<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <li style="position: relative; width: 250px; height: 250px;" class="template-upload">
    <div class="preview"></div>
    <div class="name">{%=file.name%}</div>
    <div class="size">{%=o.formatFileSize(file.size)%}</div>
    {% if (file.error) { %}
    <div class="error" ><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</div>
    {% } else if (o.files.valid && !i) { %}
    <div>
      <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
    </div>
    {% } %}
    <div class="cancel">{% if (!i) { %}
      <button class="btn btn-warning">
        <i class="icon-ban-circle icon-white"></i>
        <span>{%=locale.fileupload.cancel%}</span>
      </button>
      {% } %}</div>
  </li>
  {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <li style="position: relative; width: 250px; height: 250px;" class="template-download">
      {% if (file.error) { %}
        <div class="name">{%=file.name%}</div>
        <div class="size">{%=o.formatFileSize(file.size)%}</div>
        <div class="error">{%=locale.fileupload.error%} {%=locale.fileupload.errors[file.error] || file.error%}</div>
        {% } else { %}
        {% if (file.thumbnail_url) { %}
          <div style="height: 200px">
            <img src="{%=file.thumbnail_url%}" style="position: absolute:top 10px">
          </div>
          <div class="delete">
            <button data-url="{%=file.delete_url%}" data-type="{%=file.delete_type%}" class="" style="position: absolute; top:35px; left: 12px; background:transparent; color:red; padding:0;"><i class="fa fa-trash-o fa-lg"></i></button>
          </div>

          <label class="main_image" for="{%=file.id%}" style="position: absolute; top:10px; left: 15px;">
            <input id="{%=file.id%}" type="radio" name="main_image" value="{%=file.id%}" {% if (file.top) { %} checked="true" {% } %}/>
            <i class="fa fa-star fa-lg"></i>
          </label>

        {% } %}
        <div class="size">{%=o.formatFileSize(file.size)%}</div>
        {% } %}
    </li>
    {% } %}
</script>



