<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :pickup_allowed %>
    <%= f.input :pickup_description %>
    <%= f.input :postage_val1 %>
    <%= f.input :postage_info1 %>
    <%= f.input :postage_val2 %>
    <%= f.input :postage_info2 %>
    <%= f.input :postage_val3 %>
    <%= f.input :postage_info3 %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= button_tag( "url_button", type: "button") do%>
    <%= fa_icon("globe lg") %> <span>Add image url</span>
<% end %>
<%= text_field_tag("upload_url") %>

<%= simple_form_for(ProductImage.new) do |f| %>
<% end %>
