<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sovpok Auth" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sovpok Auth" %>">
    <%= stylesheet_link_tag "application" %>
    <%# Foundation 5 won't work with Rails Turbolinks %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
       <div id="form-place" class="reveal-modal tiny" data-reveal>
       </div>
  <ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-6">
    <li style="position: relative; width: 250px; height: 250px;">
      <img src="http://placehold.it/300x300" style="z-index: -1;">
      <a href="#" class="button alert round tiny" style="position: absolute; top:10px; right: 20px;"><i class="fa fa-trash-o fa-2x"></i></a>
      <label class="fb" for="fb1" style="position: absolute; top:15px; left: 20px;">
        <input id="fb1" type="radio" name="fb" value="" />
        <i class="fa fa-star fa-2x"></i>
      </label>
    </li>
    <li style="position: relative; width: 250px; height: 250px;">
        <img src="http://placehold.it/250x250" style="position: absolute:top 10px">
      <a href="#" class="button alert round tiny" style="position: absolute; top:10px; right: 20px;"><i class="fa fa-trash-o fa-2x"></i></a>
      <label class="fb" for="fb2" style="position: absolute; top:15px; left: 20px;">
        <input id="fb2" type="radio" name="fb" value="" />
        <i class="fa fa-star fa-2x"></i>
      </label>
    </li>
    <li style="position: relative; width: 250px; height: 250px;">
      <img src="http://placehold.it/300x300" style="z-index: -1;">
      <a href="#" class="button alert round tiny" style="position: absolute; top:10px; right: 20px;"><i class="fa fa-trash-o fa-2x"></i></a>
      <label class="fb" for="fb6" style="position: absolute; top:15px; left: 20px;">
        <input id="fb6" type="radio" name="fb" value="" />
        <i class="fa fa-star fa-2x"></i>
      </label>
    </li>
    <li style="position: relative; width: 250px; height: 250px;">
      <img src="http://placehold.it/250x250" style="position: absolute:top 10px">
      <a href="#" class="button alert round tiny" style="position: absolute; top:10px; right: 20px;"><i class="fa fa-trash-o fa-2x"></i></a>
      <label class="fb" for="fb3" style="position: absolute; top:15px; left: 20px;">
        <input id="fb3" type="radio" name="fb" value="" />
        <i class="fa fa-star fa-2x"></i>
      </label>
    </li>
    <li style="position: relative; width: 250px; height: 250px;">
      <img src="http://placehold.it/300x300" style="z-index: -1;">
      <a href="#" class="button alert round tiny" style="position: absolute; top:10px; right: 20px;"><i class="fa fa-trash-o fa-2x"></i></a>
      <label class="fb" for="fb4" style="position: absolute; top:15px; left: 20px;">
        <input id="fb4" type="radio" name="fb" value="" />
        <i class="fa fa-star fa-2x"></i>
      </label>
    </li>
    <li style="position: relative; width: 250px; height: 250px;">
      <img src="http://placehold.it/250x250" style="position: absolute:top 10px">
      <a href="#" class="button alert round tiny" style="position: absolute; top:10px; right: 20px;"><i class="fa fa-trash-o fa-2x"></i></a>
      <label class="fb" for="fb5" style="position: absolute; top:15px; left: 20px;">
        <input id="fb5" type="radio" name="fb" value="" />
        <i class="fa fa-star fa-2x"></i>
      </label>
    </li>


  </ul>

      <div class="row" data-match-height>
  <div data-height-watch class="large-3 columns" style="background: pink;">
    <p>Some text...</p>
  </div>
  <div data-height-watch class="large-6 columns" style="background: orange;">
    <p>Some text...</p>
    <img src="http://placehold.it/300x300">
  </div>
  <div data-height-watch class="large-3 columns" style="background: lightblue;">
  </div>
</div>


    </main>
    <%# Foundation 5 won't work when application.js is included in HEAD %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
