<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sovpok Auth" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sovpok Auth" %>">
    <%= stylesheet_link_tag "application" %>
    <%# Foundation 5 won't work with Rails Turbolinks %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
       <div id="form-place" class="reveal-modal small" data-reveal>
       </div>


<a href="#" class="button radius social-login"> <i class="fa fa-facebook fa-lg"></i> &nbsp; Connect with Facebook</a>

<div class="row" data-match-height>
  <div data-height-watch class="large-3 columns" style="background: pink;">
    <p>Some text...</p>
  </div>
  <div data-height-watch class="large-6 columns" style="background: orange;">
    <p>Some text...</p>
    <img src="http://placehold.it/300x300">
  </div>
  <div data-height-watch class="large-3 columns" style="background: lightblue;">
  </div>
</div>


    </main>
    <%# Foundation 5 won't work when application.js is included in HEAD %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
